<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.768935080812-coqu2kca5413ransr5il09sak6thms99</string>
			</array>
		</dict>
	</array>
	<key>GeminiAPIKey</key>
	<string>Gemini_key_here</string>
	<key>NSLocationAlwaysAndWhenInUsageDescription</key>
	<string>This app needs location access to share your current location with emergency contacts for safety purposes</string>
</dict>
</plist>
